<br />
<h1 class="staticheader col-10 offset-1">this is a static page</h1>
<br />
<div class="hero col-10 offset-1"></div>
<br />
<div class = "statictext">
  this is some text that I have written to show what happens on this static page. it is using bootstrap and css via the master.scss for formatting. as can be seen this page:-
</div>
<br />
<ul>
  <li>this is a rails application using routes etc.</li>
  <li>the page has static content, such as this text you are reading now.</li>
  <li>it is hosted on heroku, natch...</li>
  <li>code is on github.</li>
  <li>there is a headline above with different colour text, applied via master.scss.</li>
</ul>